/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body {
  background-image: url("../img/back2.png");
  background-attachment: fixed;
}
.view {
  height: 100%; }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: #ffd051;
}

.navbar .nav-item.avatar .dropdown-toggle img {
    height: 35px;
  }

.top-nav-collapse {
  background-color: #ffd051;
 }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: ##ffd051; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }
